name: Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [17.x]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    
    - name: Find and validate JSON files
      run: |
        # This will exit immediately when any JSON file has syntax error
        find . -name "*.json" ! -path "./node_modules/*" -exec echo "Validating {}" \; -exec node -e "JSON.parse(require('fs').readFileSync('{}'))" \;
    
    - name: Running tests
      run: npm run validate:tests --ci
